In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
# Lets create some data to play with:

# Note: It is not necessary to understand how this dataset was made to understand this Lecture.

#import pandas testing utility
import pandas.util.testing as tm; tm.N = 3

#Create a unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return DataFrame(data, columns=['date', 'variable', 'value'])

#Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())
tm.makeTimeDataFrame()

                   A         B         C         D
2000-01-03 -0.539678  0.592555 -0.403983  0.347941
2000-01-04 -0.300013  0.582368  0.566700 -0.653053
2000-01-05 -1.455562  0.873429  0.369178  0.728449

In [5]:
dframe

         date variable     value
0  2000-01-03        A  0.322981
1  2000-01-04        A -0.549644
2  2000-01-05        A  0.840513
3  2000-01-03        B  0.523604
4  2000-01-04        B  1.134839
5  2000-01-05        B -0.169459
6  2000-01-03        C  1.819021
7  2000-01-04        C -1.388280
8  2000-01-05        C -1.699278
9  2000-01-03        D -0.574078
10 2000-01-04        D  0.080560
11 2000-01-05        D -0.266658

In [4]:
dframe_piv = dframe.pivot('date','variable','value')

In [5]:
dframe_piv

variable           A         B         C         D
date
2000-01-03 -1.666983  1.026882 -0.688001 -1.049051
2000-01-04  0.843495  0.443947 -0.700608 -0.450190
2000-01-05  1.485442 -1.769116  0.235844 -1.827101