In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [5]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [6]:
ser3 = Series(['USA','Mexico','Canada'], index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [9]:
ranger = list(range(15)) #python 2.x is just range(15)

In [10]:
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [13]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [14]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D',"E","F"],columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -0.344118  1.320871 -0.122603 -0.378900  2.823473
B  0.229416  0.702748  1.111527  0.044463 -0.430412
D -0.248895 -0.580090 -2.552170  1.635726  1.770990
E -0.079695  1.056657  2.354879 -1.112512 -0.073932
F -1.203963 -0.974241 -0.247290 -0.260939  1.005962

In [15]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A -0.344118  1.320871 -0.122603 -0.378900  2.823473
B  0.229416  0.702748  1.111527  0.044463 -0.430412
C       NaN       NaN       NaN       NaN       NaN
D -0.248895 -0.580090 -2.552170  1.635726  1.770990
E -0.079695  1.056657  2.354879 -1.112512 -0.073932
F -1.203963 -0.974241 -0.247290 -0.260939  1.005962

In [16]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [17]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.344118  1.320871 -0.122603 -0.378900  2.823473   NaN
B  0.229416  0.702748  1.111527  0.044463 -0.430412   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.248895 -0.580090 -2.552170  1.635726  1.770990   NaN
E -0.079695  1.056657  2.354879 -1.112512 -0.073932   NaN
F -1.203963 -0.974241 -0.247290 -0.260939  1.005962   NaN

In [18]:
dframe

       col1      col2      col3      col4      col5
A -0.344118  1.320871 -0.122603 -0.378900  2.823473
B  0.229416  0.702748  1.111527  0.044463 -0.430412
D -0.248895 -0.580090 -2.552170  1.635726  1.770990
E -0.079695  1.056657  2.354879 -1.112512 -0.073932
F -1.203963 -0.974241 -0.247290 -0.260939  1.005962

In [19]:
dframe.ix[['A','B','C','D','E','F'], new_columns]

       col1      col2      col3      col4      col5  col6
A -0.344118  1.320871 -0.122603 -0.378900  2.823473   NaN
B  0.229416  0.702748  1.111527  0.044463 -0.430412   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.248895 -0.580090 -2.552170  1.635726  1.770990   NaN
E -0.079695  1.056657  2.354879 -1.112512 -0.073932   NaN
F -1.203963 -0.974241 -0.247290 -0.260939  1.005962   NaN