In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [2]:
#Let's make a dframe
dframe = DataFrame({'k1':['X','X','Y','Y','Z'],
                    'k2':['alpha','beta','alpha','beta','alpha'],
                    'dataset1':np.random.randn(5),
                    'dataset2':np.random.randn(5)})

#Show
dframe

   dataset1  dataset2 k1     k2
0  0.740664  1.077100  X  alpha
1  1.202873  0.092572  X   beta
2 -0.275039 -0.924129  Y  alpha
3 -0.331143  0.229045  Y   beta
4  0.769844  0.670559  Z  alpha

In [4]:
group1 = dframe['dataset1'].groupby(dframe['k1'])

In [5]:
group1

In [7]:
group1.mean()

k1
X    0.971769
Y   -0.303091
Z    0.769844
Name: dataset1, dtype: float64

In [8]:
cities = np.array(['NY','LA','LA','NY','NY'])
month = np.array(['JAN','FEB','JAN','FEB','JAN'])

In [10]:
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB    1.202873
    JAN   -0.275039
NY  FEB   -0.331143
    JAN    0.755254
Name: dataset1, dtype: float64

In [11]:
dframe

   dataset1  dataset2 k1     k2
0  0.740664  1.077100  X  alpha
1  1.202873  0.092572  X   beta
2 -0.275039 -0.924129  Y  alpha
3 -0.331143  0.229045  Y   beta
4  0.769844  0.670559  Z  alpha

In [12]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X   0.971769  0.584836
Y  -0.303091 -0.347542
Z   0.769844  0.670559

In [13]:
dframe.groupby(['k1','k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha  0.740664  1.077100
   beta   1.202873  0.092572
Y  alpha -0.275039 -0.924129
   beta  -0.331143  0.229045
Z  alpha  0.769844  0.670559

In [14]:
dframe.groupby(['k1']).size()

k1
X    2
Y    2
Z    1
dtype: int64

In [15]:
dframe

   dataset1  dataset2 k1     k2
0  0.740664  1.077100  X  alpha
1  1.202873  0.092572  X   beta
2 -0.275039 -0.924129  Y  alpha
3 -0.331143  0.229045  Y   beta
4  0.769844  0.670559  Z  alpha

In [22]:
for name,group in dframe.groupby('k1'):
    print ("This is the %s group" %name)
    print (group)
    print ('\n')

This is the X group
   dataset1  dataset2 k1     k2
0  0.740664  1.077100  X  alpha
1  1.202873  0.092572  X   beta


This is the Y group
   dataset1  dataset2 k1     k2
2 -0.275039 -0.924129  Y  alpha
3 -0.331143  0.229045  Y   beta


This is the Z group
   dataset1  dataset2 k1     k2
4  0.769844  0.670559  Z  alpha

In [23]:
for (k1,k2),group in dframe.groupby(['k1','k2']):
    print("Key1 = %s Key2 = %s" %(k1,k2))
    print(group)
    print('\n')

Key1 = X Key2 = alpha
   dataset1  dataset2 k1     k2
0  0.740664    1.0771  X  alpha


Key1 = X Key2 = beta
   dataset1  dataset2 k1    k2
1  1.202873  0.092572  X  beta


Key1 = Y Key2 = alpha
   dataset1  dataset2 k1     k2
2 -0.275039 -0.924129  Y  alpha


Key1 = Y Key2 = beta
   dataset1  dataset2 k1    k2
3 -0.331143  0.229045  Y  beta


Key1 = Z Key2 = alpha
   dataset1  dataset2 k1     k2
4  0.769844  0.670559  Z  alpha

In [24]:
dframe

   dataset1  dataset2 k1     k2
0  0.740664  1.077100  X  alpha
1  1.202873  0.092572  X   beta
2 -0.275039 -0.924129  Y  alpha
3 -0.331143  0.229045  Y   beta
4  0.769844  0.670559  Z  alpha

In [25]:
group_dict = dict(list(dframe.groupby('k1')))

In [26]:
group_dict['X']

   dataset1  dataset2 k1     k2
0  0.740664  1.077100  X  alpha
1  1.202873  0.092572  X   beta

In [27]:
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes,axis=1)))

In [28]:
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0  0.740664  1.077100
 1  1.202873  0.092572
 2 -0.275039 -0.924129
 3 -0.331143  0.229045
 4  0.769844  0.670559, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [30]:
dataset2_group = dframe.groupby(['k1','k2'])[['dataset2']]
dataset2_group.mean()

          dataset2
k1 k2
X  alpha  1.077100
   beta   0.092572
Y  alpha -0.924129
   beta   0.229045
Z  alpha  0.670559