In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
dframe= DataFrame(np.arange(12).reshape((3, 4)),
                 index=['NY', 'LA', 'SF'],
                 columns=['A', 'B', 'C', 'D'])
dframe

    A  B   C   D
NY  0  1   2   3
LA  4  5   6   7
SF  8  9  10  11

In [3]:
dframe.index.map(str.lower)

array(['ny', 'la', 'sf'], dtype=object)

In [4]:
dframe.index = dframe.index.map(str.lower)

In [5]:
dframe

    A  B   C   D
ny  0  1   2   3
la  4  5   6   7
sf  8  9  10  11

In [7]:
dframe.rename(index=str.title,columns=str.lower)

    a  b   c   d
NY  0  1   2   3
LA  4  5   6   7
SF  8  9  10  11

In [8]:
dframe.rename(index={'ny':'NEW YORK'},
             columns={'A':'ALPHA'})

          ALPHA  B   C   D
NEW YORK      0  1   2   3
la            4  5   6   7
sf            8  9  10  11

In [9]:
dframe

    A  B   C   D
ny  0  1   2   3
la  4  5   6   7
sf  8  9  10  11

In [10]:
dframe.rename(index={'ny':'NEW YORK'}, inplace=True)

In [11]:
dframe

          A  B   C   D
NEW YORK  0  1   2   3
la        4  5   6   7
sf        8  9  10  11